<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken result</title>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <script>
    window.onload = function () {

      const sse = new EventSource('/yonhaya/roomInfo');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        var user_list = JSON.parse(event.data);
        const MAX_USER_NUMBER = 2;

        results = "";

        for (var i = 0; i < user_list.length; i++) {
          var user = user_list[i];

          // 出力の形式に従った文字列の構築
          var result = "<p> " + user + " が入室しました</p>";
          results += result; // 結果を連結
        }

        if (user_list.length == MAX_USER_NUMBER) {
          results += "<a>まもなくクイズが始まります！</a>"
          // 数秒待機してからクイズ画面に遷移
          setTimeout(function () {
            window.location.href = '/yonhaya/quiz';
          }, 2000); // 2秒
        }

        document.getElementById("roomInfo").innerHTML = results;

      }
    }
  </script>
</head>


<body class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
  <div class="text-center">

    <div th:if="${room}">
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <h4>RoomNo:[[${room.roomNo}]]</h4>
    </div>

    <div id="roomInfo"></div>

    <a href="/logout" class="btn btn-danger" style="position: absolute; top: 10px; right: 10px;">ログアウト</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
