<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>クイズ参加</title>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="height: 100vh; margin: 0;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <div th:if="${quiz}">
      <div><h2>[[${currentQuestionIndex}]]</h2></div>
      <div><h2>[[${quiz.question}]]</h2></div>
    </div>

    <div th:if="${Choices}">
      <form th:action="@{/yonhaya/judge}" method="post">
        <br>
        <input type="submit" name="choice" class="btn btn-primary" th:value="${Choices.choice_1}">
        </br>
        <br>
        <input type="submit" name="choice" class="btn btn-primary" th:value="${Choices.choice_2}">
        </br>
        <br>
        <input type="submit" name="choice" class="btn btn-primary" th:value="${Choices.choice_3}">
        </br>
        <br>
        <input type="submit" name="choice" class="btn btn-primary" th:value="${Choices.choice_4}">
        </br>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
