<head>
  <meta charset="utf-8">
  <title>janken result</title>
  <script>
    window.onload = function () {

      const sse = new EventSource('/yonhaya/waitInfo');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        var user_number = JSON.parse(event.data);

        if (user_number == 2) {
          // クイズ画面に自動遷移
          window.location.href = '/yonhaya/quiz';
        }

      }
    }
  </script>
</head>

<div th:if="${result}">
  [[${result}]]
</div>
<div th:if="${finish}">
  <a href="/yonhaya/finish">結果発表</a>
</div>
</div>
